<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.PersonalProject.favorite.dao.FavoriteMapper">
	<insert id="insertFavoriteByUserIdProductId" parameterType="map">
		INSERT INTO `favorite`
		(
			`userId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{productId}
			, NOW()
			, NOW()
		)
	</insert>
	
	<delete id="deleteFavoriteByProductId" parameterType="map">
		DELETE FROM `favorite`
		WHERE
			`productId` = #{productId}
		AND
			`userId` = #{userId}
	</delete>
	
	<select id="selectFavoriteListByUserId" parameterType="map" resultType="com.PersonalProject.favorite.model.Favorite">
		SELECT
			`id`
			, `userId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorite`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
		LIMIT #{pageStart}, #{pageLimit}
	</select>
	
	<select id="selectFavoriteByProductIdUserId" parameterType="map" resultType="com.PersonalProject.favorite.model.Favorite">
		SELECT
			`id`
			, `userId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorite`
		WHERE
			`userId` = #{userId}
		AND
			`productId` = #{productId}
	</select>
	
	<select id="selectFavoriteByProductId" parameterType="int" resultType="com.PersonalProject.favorite.model.Favorite">
		SELECT
			`id`
			, `userId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorite`
		WHERE
			`productId` = #{productId}
	</select>
	
	<delete id="deleteFavoriteByUserIdProductId" parameterType="map">
		DELETE FROM `favorite`
		WHERE
			`productId` = #{productId}
		AND
			`userId` = #{userId}
	</delete>
	
	<insert id="insertToggleFavoriteByUserIdProductId" parameterType="map">
		INSERT INTO `favorite`
		(
			`userId`
			, `productId`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{productId}
			, NOW()
			, NOW()
		)
	</insert>
	
	<select id="selectCountFavoriteByUserIdProductId" parameterType="map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			`favorite`
		WHERE
			`userId` = #{userId}
		AND
			`productId` = #{productId}
	</select>
	
	<select id="countFavoriteByUserId" parameterType="int" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`favorite`
		WHERE
			`userId` = #{userId}
	</select>
</mapper>