<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.PersonalProject.product.dao.ProductMapper">
 	<select id="selectProductList" resultType="com.PersonalProject.product.model.Product">
 		SELECT
 			`id`
 			, `name`
 			, `brand`
 			, `productImagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`product`
 		ORDER BY `id` DESC
 		LIMIT #{pageStart}, #{pageLimit}
 	</select>
 	<select id="selectProductByProductId" parameterType="int" resultType="com.PersonalProject.product.model.Product">
 		SELECT
 			`id`
 			, `name`
 			, `brand`
 			, `productImagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`product`
 		WHERE
 			`id` = #{productId}
 	</select>
 	
 	<select id="selectProductListByBrand" parameterType="map" resultType="com.PersonalProject.product.model.Product">
 		SELECT
 			`id`
 			, `name`
 			, `brand`
 			, `productImagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`product`
 		WHERE
 			`brand` = #{brand}
 		ORDER BY `id` DESC
 		LIMIT #{pageStart}, #{pageLimit}
 	</select>
 	
 	<select id="productCount" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`product`
 	</select>
 	
 	<select id="productCountByBrand" parameterType="String" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`product`
 		WHERE
 			`brand` = #{brand}
 	</select>
 </mapper>