<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.PersonalProject.review.dao.ReviewMapper">
 	<insert id="insertReview" parameterType="map">
 		INSERT INTO `review`
 		(
 			`productId`
 			, `userId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			, #{userId}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectReviewList" resultType="com.PersonalProject.review.model.Review">
 		SELECT
 			`id`
			, `productId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`review`
 	</select>
 	
 	<delete id="deleteReviewById" parameterType="int">
 		DELETE FROM `review`
 		WHERE
 			`id` = #{reviewId}
 	</delete>
 	
 	<select id="selectReviewListByProductId" parameterType="int" resultType="com.PersonalProject.review.model.Review">
 		SELECT
 			`id`
			, `productId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`review`
		WHERE
			`productId` = #{productId}
		ORDER BY `id` DESC
		LIMIT #{pageStart}, #{pageLimit}
 	</select>
 	
 	<select id="reviewCountByProductId" parameterType="int" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`review`
 		WHERE
 			`productId` = #{productId}
 	</select>
 	
 	<delete id="deleteReviewByProductId" parameterType="int">
 		DELETE FROM `review`
 		WHERE
 			`productId` = #{productId}
 	</delete>
 	
 	<delete id="deleteReviewByUserId" parameterType="int">
 		DELETE FROM `review`
 		WHERE
 			`userId` = #{userId}
 	</delete>
 </mapper>