<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.PersonalProject.styleComment.dao.StyleCommentMapper">
 	<insert id="insertStyleComment" parameterType="map">
 		INSERT INTO `styleComment`
 			(
 			`userId`
			, `styleId`
			, `content`
			, `createdAt`
			, `updatedAt`
			)
			VALUES
			(
				#{userId}
				, #{styleId}
				, #{content}
				, NOW()
				, NOW()
			)
 	</insert>
 	
 	<delete id="deleteStyleComment" parameterType="map">
 		DELETE FROM `styleComment`
 		WHERE
 			`id` = #{styleCommentId}
 	</delete>
 	
 	<select id="selectStyleComment" resultType="com.PersonalProject.styleComment.model.StyleComment">
 		SELECT
 			`id`
			, `userId`
			, `styleId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`styleComment`
 	</select>
 	
 	<select id="selectStyleCommentListByStyleId" parameterType="int" resultType="com.PersonalProject.styleComment.model.StyleComment">
 		SELECT
 			`id`
			, `userId`
			, `styleId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`styleComment`
		WHERE
			`styleId` = #{styleId}
		ORDER BY `id` DESC
		LIMIT 3
 	</select>
 	
 	<delete id="deleteCommentByStyleId" parameterType="map">
 		DELETE FROM `styleComment`
 		WHERE 		
 			`styleId` = #{styleId}
 	</delete>
 	
 	<select id="countStyleCommentByStyleId" resultType="int" parameterType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`styleComment`
 		WHERE
 			`styleId` = #{styleId}
 	</select>
 	
 	<select id="selectStyleCommentByStyleId" parameterType="map" resultType="com.PersonalProject.styleComment.model.StyleComment">
 		SELECT
 			`id`
			, `userId`
			, `styleId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`styleComment`
		WHERE
			`styleId` = #{styleId}
		ORDER BY `id` DESC
		LIMIT #{pageStart}, #{pageLimit}
 	</select>
 </mapper>