@charset "UTF-8";


header {
	height: 100px;
}

.contents {
	min-height: 800px;
	max-height: 50000px;
}

footer {
	height: 100px;
}

.shoesList{
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	width:300px;
}

#signUpForm {
	margin-left: 360px;
}

#signInForm {
	margin-left: 360px;
}

.nav-link {
	color: black;
}

.nav-link:hover {
	color: black;
	background-color: white;
}

#signUpDiv {
	margin-top: 50px;
}

.sub-nav {
	display: none;
}

.dropbtn {
	border: none;
	background-color: grey;
	width: 370px;
	text-align: center;
	font-size: 14px;
}

.dropdown-content {
	font-weight:bold;
	background-color:white;
	display: none;
	position: absolute;
	min-width: 200px;
}

.dropdown-content a {
	display: block;
	color: rgb(37, 37, 37);
	font-size: 14px;
	padding: 12px 20px;
	width: 350px;
}

.dropdown-content a:hover {
	text-decoration:none;
	background-color: #ececec
}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn > a{
	text-decoration:none;
	color:black;
}

.loginLogo{margin-top:100px;}

#productInfo{
	text-decoration:none;
	color:black;
}

#productInfo:hover{color: grey;}

.headerLogo{color:black;}

.headerLogo{text-decoration:none;}

.headerLogo:hover{
	color:black;
	text-decoration:none;
}

.comment-input {width:500px;}

.favoriteBtn{margin-left:50px;}

.contents-box {width:650px;}

#writeTextArea {height:100px;}

.styleContent{border:2px solid grey;}

.brandLogo{
	margin-left:50px;
	margin-top:50px;
}

.secondLogo{margin-left:150px;}

.styleWriter{font-size:20px;}

.comment-input{width:560px;}

.header-info{color:black;}

.header-info:hover{
	color:grey;
	text-decoration:none;
}

.productInfo{margin-right:500px;}