@charset "UTF-8";

#wrap{height:1000px;}
header{height:100px;}
.contents{height:600px;}
footer{height:100px;}

#signUpForm{margin-left:360px;}

#signInForm{margin-left:360px;}

.nav-link{color:black;}

.nav-link:hover{color:black;
background-color:white;}

#signUpDiv{margin-top:50px;}
